/*#app {
	width: 800px;
}*/

body, html {
	background-color: transparent;
	width: 800px;
	margin: auto;
}

.container {
	background-color: #fff;
	margin-top: 30px;
	overflow-y: scroll;
	height: 700px;
}

.row {
	border-bottom: 1px #79183A solid;
	padding-bottom: 10px;
	padding-top: 10px;
}

.col-12 {
	padding-bottom: 10px;
	padding-top: 10px;
}

h2 {
	color: #C41451;
}